<div class="flowerContainer m-5 d-flex">
	<div class="col col-md-6">
		<img src="/images/{{flower.picture}}" alt="{{flower.name}}">
	</div>
	<div class="col col-md-6 text-center">
		<h1>{{flower.name}}</h1>
		<h3 class="m-5">{{flower.appearance}}</h3>
		<h3 class="m-5">{{flower.meaning}}</h3>
	</div>
</div>