{{#if messages}}
<div class="msg-success-container">
	{{{messages}}}
</div>
{{/if}}

{{#if errors}}
{{#each errors}}
<div class="msg-valid-err-container">
	<p class="msg-valid-err">{{this}}</p>
</div>
{{/each}}
{{/if}}

{{#if_type user 0 userInput }}
<h1 class="text-center p-4">USER AREA</h1>
<h1 class="text-center">Hello {{{username}}}! Below is your infomation:</h1>
<div>
	<h3 class="ml-5 my-2">Username: <span>{{{username}}}</span></h3>
	<h3 class="ml-5 my-2">Email: <span>{{{email}}}</span></h3>
	<button class="btn btn-danger ml-5 my-3 changePassword d-block">Change password</button>
	<div class="changePasswordArea col col-md-6 text-center">
		<form action="/users/changePassword" method="post">
			<div class="form-group">
				<label for="password">New password:</label>
				<input class="ml-4 form-control" type="password" name="password" id="password"
					placeholder="Enter your new password">
			</div>
			<div class="form-group">
				<label for="confirmPassword">Confirm password:</label>
				<input class="ml-4 form-control" type="password" name="confirmPassword" id="confirmPassword"
					placeholder="Confirm your password">
			</div>
			<input class="btn btn-primary" type="submit" value="Confirm">
		</form>
	</div>
	<div class="pickArea ml-5 m-5">
		<h3>Your pick:</h3>
		{{#if pickList}}
		{{#each pickList}}
		<h1>{{this}}</h1>
		{{/each}}
		{{else}}
		<h1>U have nothing</h1>
		{{/if}}
	</div>
</div>
{{else}}
<h1 class="text-center p-4">ADMIN AREA</h1>
<h3 class="ml-5">Add flowers:</h3>
<div class="col col-6 ml-5 pt-2 mb-5">
	<form action="/flowers" method="post" enctype="multipart/form-data">
		<div class="form-group">
			<label for="name">Flower name:</label>
			<input class="form-control" type="text" name="name" id="name" value={{name}}>
		</div>
		<div class="form-group">
			<label for="definition">Definition:</label>
			<textarea class="form-control" name="definition" id="definition" rows="3">{{definition}}</textarea>
		</div>
		<div class="form-group">
			<label for="appearance">Appearance:</label>
			<textarea class="form-control" name="appearance" id="appearance" rows="3">{{appearance}}</textarea>
		</div>
		<div class="form-group">
			<label for="meaning">Meaning:</label>
			<textarea class="form-control" name="meaning" id="meaning" rows="3">{{meaning}}</textarea>
		</div>
		<div class="form-group">
			<label for="picture">Flower Picture: </label>
			<input type="file" name="picture" id="picture">
		</div>
		<input class="btn btn-primary" type="submit" value="Add flower">
	</form>
</div>
{{/if_type}}